@font-face {
	font-family: helvetica-neue-bold;
	src: url(helvetica-neue-bold.ttf);
}

@font-face {
	font-family: helvetica-neue-regular;
	src: url(helvetica-neue1.ttf);
}

@font-face {
	font-family: din-cond-med;
	src: url(DINCond-Medium.otf);
}

@font-face {
	font-family: din-cond-reg;
	src: url(DINCond-Regular.otf);
}

.navbar-inner {	
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/*colors: 20, 39, 45*/

body {
	background-color: rgb(253, 253, 253);
}

img.grayscale {
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    opacity: 0.3;
}

.navbar-inverse .navbar-brand {
  display: block;
  float: left;
  font-size: 16px;
  font-family: helvetica-neue-bold;
  /*font-family: din-cond-med;*/
  font-weight: 200;
  color: rgb(75, 194, 236);
  /*color: white;*/
  max-width: 300px;
}

.nav .navbar-nav a:hover{
	font-color:blue;
	color: blue;
	border-bottom: blue;
}

.anchor {
	padding: 20px;
}

#home {
	background-image: url(../resources/imgs/vsaiwide.jpg);
	background-repeat:no-repeat;
	background-size: 100%, 80%;
	background-position: center;
	min-height: 700px;
	margin-top: 50px;
}

#about p {
	color: black;
	text-align: center;
	/*font-size: 14pt;*/
}

#projects {
	background-color: rgb(39,39,39);
	/*-moz-border-radius: 15px;*/
	/*border-radius: 15px;*/
	min-height: 600px;
	/*padding: 40px;*/
}

.project_title a {
	color: orange;
}

#projects p {
	color: white;
}

#contact {
	/*background-color: rgb(75, 194, 236);*/
	min-height: 400px;
	/*-moz-border-radius: 15px;*/
	/*border-radius: 15px;*/
	/*padding: 40px;*/
}

#contact h1 {
	color: white;
}

ul#socialMediaIcons {
	margin: 0;
	padding: 0;
	float: left;
	margin: 10px 0px;
	list-style: circle;
	/*list-style-type: circle;*/
}

ul#socialMediaIcons li{
	margin-right: 15px;
	width: 63px;
	height: 63px;
	display: block;
	list-style: none;
	float: left;
	/*filter: alpha(opacity=75);*/
	opacity: 0.75;
}

ul#socialMediaIcons li:hover {
	/*filter: alpha(opacity=100);*/
	opacity: 1;
}

/*
ul#socialMediaIcons li#facebook {
	background: url(../resources/imgs/social_icon-1.jpg) -100px -288px;
}

ul#socialMediaIcons li#linkedin {
	background: url(../resources/imgs/social_icons.jpg) -1120px -80px;
}

ul#socialMediaIcons li#github {
	background: url(../resources/imgs/social_icons.jpg) -823px -6px;
}
*/

#footer {
	padding: 20px;
	background-color: rgb(39,39,39);
}

#footer .container .muted {
	color: white;
}

h1 {
	color: rgb(75, 194, 236);
	font-style: normal;
	font-family: helvetica-neue-bold;
	/*font-family: din-cond-med;*/
	text-align: center;
	padding: 30px;
}

