@font-face {
	font-family: helvetica-neue-bold;
	src: url(helvetica-neue-bold.ttf);
}

@font-face {
	font-family: helvetica-neue-regular;
	src: url(helvetica-neue1.ttf);
}

@font-face {
	font-family: din-cond-med;
	src: url(DINCond-Medium.otf);
}

@font-face {
	font-family: din-cond-reg;
	src: url(DINCond-Regular.otf);
}

.navbar-inner {	
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

body {
	/*background-color: rgb(20,20,20);*/
	/*background-color: rgb(39,39,39);*/
	background-color: white;
	/*background-color: rgb(45,45,45);*/
}

.row {
	/*padding-top: 40px;
	padding-bottom: 200px;*/
}

img.grayscale {
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    opacity: 0.3;
}

.project_title a {
	text-align: center;
	color: orange;
}



.navbar-inverse .navbar-brand {
  display: block;
  float: left;
  font-size: 16px;
  font-family: helvetica-neue-bold;
  /*font-family: din-cond-med;*/
  font-weight: 200;
  color: rgb(75, 194, 236);
  /*color: white;*/
  max-width: 300px;
}

/*#navigation-bar .container .nav .navbar-nav li a{
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}*/

#home {
	/*background-image: url(../resources/imgs/bground2X.jpg);*/
	/*background-image: url(../resources/imgs/bground2Xcopy2.jpg);*/
	background-image: url(../resources/imgs/vsaiwide.jpg);
	/*background-image: url(../resources/imgs/a2.jpg);*/
	/*background-image: url(../resources/imgs/bground2X2.jpg);*/
	background-repeat:no-repeat;
	/*background-size: 80%;*/
	background-size: 100%;
	background-position: center;
	min-height: 700px;
	margin-top: 50px;
}

#about-content {
	/*background-color: grey;*/
	/*background-color: rgb(39,39,39);*/
	/*background-color: rgb(75, 194, 236);*/
	/*opacity: 0.6;*/
	/*background-opacity: 0.6;*/
	min-height: 500px;
}

#about-content p {
	font-size: 16px;
}

#about {

}

#about h1 {
	/*color: pink;*/
	/*color: orange;*/
}

#about p {
	color: black;
	text-align: center;
	/*font-size: 14pt;*/
}

#projects {
	/*background-color: #f1f1ef;*/
	background-color: rgb(39,39,39);
	/*-moz-border-radius: 15px;*/
	/*border-radius: 15px;*/
	min-height: 600px;
	/*padding: 40px;*/
}

/*#projects p {
	color: white;
}*/

#projects ul {
	color: white;
}

#contact {
	/*background-color: #f1f1ef;*/
	background-color: rgb(75, 194, 236);
	min-height: 400px;
	/*-moz-border-radius: 15px;*/
	/*border-radius: 15px;*/
	/*padding: 40px;*/
}

#contact h1 {
	color: white;
}

.anchor {
	margin-top: -20px;
	/*padding-top: 60px;*/
	/*background-color: #f1f1ef;*/
	/*background-color: #b4dcf0;*/
	/*-moz-border-radius: 15px;*/
	/*border-radius: 15px;*/
	padding: 40px;
}

.navbar {
	/*background-color: #436e97;*/
}

ul#socialMediaIcons {
	margin: 0;
	padding: 0;
	float: left;
	margin: 10px 0px;
	list-style: circle;
	/*list-style-type: circle;*/
}

ul#socialMediaIcons li{
	margin-right: 15px;
	width: 63px;
	height: 63px;
	display: block;
	list-style: none;
	float: left;
	/*filter: alpha(opacity=75);*/
	opacity: 0.75;
}

ul#socialMediaIcons li:hover {
	/*filter: alpha(opacity=100);*/
	opacity: 1;
}

ul#socialMediaIcons li#facebook {
	/*left: 200px;*/
	/*background-image: url(../resources/imgs/social_icons.jpg);*/
	/*background: url(../resources/imgs/social_icons.jpg) -83px -6px;*/
	/*list-style-image: url(../resources/imgs/social_icon-1.jpg);*/
	background: url(../resources/imgs/social_icon-1.jpg) -100px -288px;
	
}

ul#socialMediaIcons li#linkedin {
	/*background-image: url(../resources/imgs/social_icons.jpg);*/
	background: url(../resources/imgs/social_icons.jpg) -1120px -80px;
}

ul#socialMediaIcons li#github {
	/*background-image: url(../resources/imgs/social_icons.jpg);*/
	background: url(../resources/imgs/social_icons.jpg) -823px -6px;
}


/*ul#socialMediaIcons #facebook {
	left: 5px;
	width: 100px;
	top: 5px;
	height: 74px;
	background-image: url(../resources/imgs/social_icons.jpg) -80px 0;

}*/


#footer {
	padding: 10px;
	background-color: rgb(39,39,39);
	/*margin-top: 50px;*/
}

#footer .container .muted {
	color: white;
}

h1 {
	color: rgb(75, 194, 236);
	font-style: normal;
	font-family: helvetica-neue-bold;
	/*font-family: din-cond-med;*/
	text-align: center;
	padding: 30px;
}

p {
	/*font-family: din-cond-reg;*/
	/*font-family: helvetica-neue-regular;*/
}